<<<<<<< HEAD
doctype html 
html(lang='pt_BR')
  head
    title "Aceita café?"
    meta(charset = 'urf-8')
    link(rel="stylesheet", href="./_src/styles.scss")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=PT+Serif&display=swap' rel='stylesheet')
=======
doctype html
html(lang='pt_BR')
  head
    title Aceita Café?
    meta(charset='utf-8')
    link(href='./_src/css/styles.scss' rel='stylesheet')
    script(src='./index.js')
>>>>>>> d4dc38f6f0ef8e2c2cdefb144debddc0be7c91ff
  body
    include ./_src/main.pug
