doctype html
html(lang='pt_BR')
  head
    title Aceita Café?
    meta(charset='utf-8')
    link(href='./_src/css/styles.scss' rel='stylesheet')
    script(src='./index.js')
  body
    include ./_src/main.pug
