doctype html 
html(lang='pt_BR')
  head
    title "Aceita café?"
    meta(charset = 'urf-8')
    link(rel="stylesheet", href="./_src/styles.scss")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=PT+Serif&display=swap' rel='stylesheet')
  body
    include ./_src/main.pug
    script(type='module', src='./index.js')
