//- head
//-   title Aceita Café?
//-   meta(charset='urf-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
//-   meta(name='title' content='Aceita Café?')
//-   meta(name='description' content='Cafés especiais em grãos (moído na hora).')
//-   meta(property='og:type' content='website')
//-   meta(property='og:url' content='http://aceitacafe.com.br/')
//-   meta(property='og:title' content='Aceita Café?')
//-   meta(property='og:description' content='Cafés especiais em grãos (moído na hora).')
//-   meta(property='og:image' content='./favicon/favicon.png')
//-   meta(property='og:locale' content='pt_BR')
//-   meta(property='og:site_name' content='Aceita Café?')
//-   meta(property='twitter:url' content='http://aceitacafe.com.br/')
//-   meta(property='twitter:title' content='Aceita Café?')
//-   meta(property='twitter:description' content='Cafés especiais em grãos (moído na hora).')
//-   meta(property='twitter:image' content='./favicon/favicon.png')
//-   link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.ico')
//-   link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.ico')
//-   link(rel='preconnect' href='https://fonts.gstatic.com')
//-   link(href='https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap', rel='stylesheet')
//-   link(rel='preconnect' href='https://fonts.gstatic.com')
//-   link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap', rel='stylesheet')
//-   link(rel="stylesheet" href="./css/styles.scss")
