#modal.modal
  h1.modal__title(data-content="1")
  p.modal__subtitles Variaçao: <span data-variation></span>
  span.modal__content(data-content="2")
  p.modal__subtitles Sensoriais:
  span.modal__content(data-content="3")
  p.modal__subtitles Processo:
  span.modal__content(data-content="4")
  p.modal__subtitle Destaques:
  span.modal__content(data-content="5")
  p.modal__subtitle Produzido por:
  span.modal__content(data-content="6")
  p.modal__subtitle Altitude:
  span.modal__content(data-content="7")
  p.modal__subtitle Região:
  span.modal__content(data-content="8")
