#closeArea.close(onclick="closeModal(2)")
#modal.modal
  h1.modal__title(data-name)
  .modal__left
    .modal__icon.modal__icon--variation
      p Variação: 
        span.modal__content(data-variation)
    .modal__icon.modal__icon--sensory  
      p Sensoriais:
        span.modal__content(data-sensory)
    .modal__icon.modal__icon--process
      p Processo: 
        span.modal__content(data-process)
    .modal__icon.modal__icon--highlights
      p Destaques:
        span.modal__content(data-highlights)
    .modal__icon.modal__icon--madeby
      p Produzido por:
        span.modal__content(data-madeby)
    .modal__icon.modal__icon--altitude
      p Altitude:
        span.modal__content(data-altitude)
    .modal__icon.modal__icon--region
      p Região:
        span.modal__content(data-region)
  .modal__right
    a.button.button__whatsapp(href="http://wa.me/556699511499" target='_blank') Comprar
    a.button.button__back(onclick="closeModal(1)") Voltar
