#closeArea.modal__overlay(onclick="closeModal(2)")
#modal.modal
  h1.modal__title(data-name)
  article.modal__holder
    .modal__block
      .modal__item.modal__item--variation
        h6.modal__text Variação: 
        span.modal__content(data-variation)
      .modal__item.modal__item--sensory  
        h6.modal__text Sensoriais:
        span.modal__content(data-sensory)
      .modal__item.modal__item--process
        h6.modal__text Processo: 
        span.modal__content(data-process)
      .modal__item.modal__item--highlights
        h6.modal__text Destaques:
        span.modal__content(data-highlights)
    .modal__block
      .modal__item.modal__item--madeby
        h6.modal__text Produzido por:
        span.modal__content(data-madeby)
      .modal__item.modal__item--altitude
        h6.modal__text Altitude:
        span.modal__content(data-altitude)
      .modal__item.modal__item--region
        h6.modal__text Região:
        span.modal__content(data-region)
    .modal__block.modal__block--actions
      a.button.button--whatsapp.modal__button(href="https://wa.me/556699511499" target='_blank' rel="noopener") Comprar
      a.button.button--stroke.button--back.modal__button(onclick="closeModal(1)") Voltar
