section#plan.plan
  .plan__container
    h1.plan__title Degustações
    span.plan__text De início a ideia era de apenas vender cafés, mas com o passar do tempo percebi que tanta coisa pode ser realizada com o meu projeto que desejo também agregar conhecimento na vida de vocês, principalmente naqueles que são apaixonados por café assim como eu. E quanto a demonstração, é nela que tenho a oportunidade de passar o que sei, de trazer um café qualidade até você, e isso levo em consideração ser moído na hora e preparado da melhor forma.
    a.button.button--whatsapp(href="https://wa.me/556699511499" target='_blank') Agendar
