section#products.products
  h1.products__title Nossos Produtos
  .products__gallery
    img.products__images(src="./assets/produto-1.png")
    .products__container
      p.products__name Cordilheiras do Caparaó - Chocolate
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar
    img.products__images(src="./assets/produto-4.png")
    .products__container
      p.products__name Cordilheiras do Caparaó - Café Junino
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar
    img.products__images(src="./assets/produto-2.png")
    .products__container
      p.products__name Cordilheiras do Caparaó - Café da Rosa
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar
    img.products__images(src="./assets/produto-5.png")
    .products__container
      p.products__name Douro Microlote Campeão do Coffee of The Year 2020
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar
    img.products__images(src="./assets/produto-3.png")
    .products__container
      p.products__name Saint’ Clair - Mel Cítrico
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar
    img.products__images(src="./assets/produto-6.png")
    .products__container
      p.products__name Saint’ Clair - Traidicional
      button.button__details Detalhes
      a.button(href="http://wa.me/556699511499" target='_blank') Comprar

