section#produtos.showcase
  h1.showcase__title Nossos Produtos
  .showcase__gallery
  .showcase__redirect 
    h1.showcase__text Para ver nossa lista completa
    a.button.button--forward(href="/products/index.pug") Clique aqui
