.hero {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin-bottom: 300px;
  position: relative;
  top: 76px;
  width: 100%;

  @media screen and (min-width: 800px) {
    background-attachment: fixed;
  }

  &__no-webp {
    background-image: url("../assets/hero-background.png");
  }

  &__webp {
    background-image: url("../assets/hero-background.webp");

  }
  
  &__logo {
    display: flex;

    @media screen and (min-width: 701px) {
      width: 385px;
    }

    @media screen and (max-width: 700px) {
      width: 205px;
    }

    @media screen and (max-width: 380px) {
      margin-left: 15px;
    }
  }

  &__resume {
    align-items: center;
    background-color: $orange;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 1;
    
    
    @media screen and (min-width: 751px) {
      border-radius: 25px;
      min-height: 400px;
      margin: 60px auto -350px;
      padding: 10px 50px 40px;
      width: 80%;
    }

    @media screen and (max-width: 750px) {
      border-radius: 10px;
      margin: 100px 30px -300px;
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      text-align: center;

    }

    @media screen and (max-width: 380px) {
      margin-top: 20px;
    }
  }

  &__title {
    color: $white;

    @media screen and (min-width: 701px) {
      font-size: 42px;
    }

    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
  }

  &__decoration {
    background-color: $brown;
    border-radius: 25px;
    position: relative;
    border: none;

    @media screen and (min-width: 701px) {
      height: 6px;
      margin-bottom: 30px;
      top: -10px;
      width: 50px;
    }

    @media screen and (max-width: 700px) {
      padding: 2px;
      width: 50px;
      top: -15px;
    }
  }

  &__text {
    display: flex;
    position: relative;
    color: $white;
    font-size: 16px;
    line-height: 21.2px;
    text-align: center;

    @media screen and (max-width: 700px) {
      margin: auto;
      padding: 0 30px 10px;
    }

    @media screen and (min-width: 701px) {
      padding: 0 100px 20px;
    }

    @media screen and (min-width: 900px) {
      padding: 0 20px;
    }
  }

  &__text:not(:last-of-type) {
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
      margin-bottom: 20px;
    }
  }
}
