.plan {
  align-items: center;
  background-image: url("../assets/plan-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 750px;
  justify-content: flex-end;
  position: relative;
  width: auto;

  @media screen and (min-width: 800px) {
    background-attachment: fixed;
  }

  &__container {
    background-color: $dazzled-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 30px 90px 80px 80px;
    position: relative;
  
    
    @media screen and (min-width: 741px ) {
      height: 435px;
      right: 5%;
      width: 675px;
    }
  
    @media screen and (max-width: 740px) {
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 50px 50px;
      width: 90%;
    }
    
    @media screen and (max-width: 380px) {
      padding: 30px;
    }
  }

  &__title {
    color: $brown;
    font-size: 42px;
    position: relative;

    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }

  &__text {
    color: $brown;
    font-size: 14px;
    margin: -10px 0 30px;
  }
}
