.products {
  border-top: solid 1px $grey-light;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  top: 76px;
  width: 100%;


  &__title {
    color: $brown;
    font-size: 34px;
    margin-bottom: 65px;
    margin-top: 60px;
  }
}
