.products {
  border-top: solid 1px $grey-light;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  position: relative;
  text-align: center;
  top: 76px;
  width: 100%;
  margin: 0 auto 50px;

  &__title {
    color: $brown;
    font-size: 34px;
    margin-bottom: 65px;
    margin-top: 60px;
  }
}
