footer#footer.footer
  h1.footer__title Entre em Contato
  h2.footer__description Mande uma mensagem e siga nossas redes sociais para mais novidades
  .footer__social
    a.footer__icon.footer__icon--whatsapp(href="http://wa.me/556699511499" target='_blank') (66)99951-1499
    a.footer__icon.footer__icon--instagram(href="https://www.instagram.com/aceitacafeoficial/" target='_blank') @aceitacafeoficial
    a.footer__icon.footer__icon--mail(href="mailto:mark_vpg@hotmail.com" target='_blank') mark_vpg@hotmail.com
