footer#footer.footer
  h1.footer__title Entre em Contato
  span.footer__description Mande uma mensagem e siga nossas redes sociais para mais novidades
  .footer__social
    a(href="http://wa.me/556699511499" target='_blank')
      .footer__whatsapp
        span.footer__text (66)99951-1499
    a(href="https://www.instagram.com/aceitacafeoficial/" target='_blank')
      .footer__instagram
        span.footer__text @aceitacafeoficial
    a(href="mailto:mark_vpg@hotmail.com" target='_blank')
      .footer__mail
        span.footer__text mark_vpg@hotmail.com
