header.header
  nav#headerNavDropdown.header__menu
    a.header__text(href="#hero") 
      span Início
    a.header__text(href="#products") 
      span Produtos
    a.header__text(href="#plan") 
      span Degustações
    a.header__text(href="#footer")
      span Contato
  button#dropdownButton.header__button
  nav.header__nav
    a.header__social.header__social--whatsapp(href="http://wa.me/556699511499" target='_blank')
    a.header__social.header__social--instagram(href="https://www.instagram.com/aceitacafeoficial/" target='_blank')     
    a.header__social.header__social--mail(href="mailto:mark_vpg@hotmail.com" target='_blank') 

