header
  nav#headerNavDropdown.header__nav
    a.header__text(href="#hero") 
      span Início
    a.header__text(href="#products") 
      span Produtos
    a.header__text(href="#plan") 
      span Degustações
    a.header__text(href="#contact")
      span Contato
  button#dropdownButton
  nav.header__social
    a.header__social.header__link--whatsapp.icon(href="http://wa.me/556699511499" target='_blank')
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 18')
        path(fill='#fff', d='M13.662 3.3A7.89 7.89 0 008.03.964C3.643.964.068 4.538.064 8.926c0 1.405.368 2.772 1.062 3.983L0 17.036l4.223-1.107a7.97 7.97 0 003.807.97h.004c4.388 0 7.962-3.575 7.966-7.966A7.933 7.933 0 0013.662 3.3zM8.03 15.55a6.602 6.602 0 01-3.371-.924l-.241-.144-2.505.657.669-2.444-.157-.252a6.59 6.59 0 01-1.012-3.521c0-3.643 2.97-6.614 6.621-6.614a6.59 6.59 0 014.681 1.94 6.587 6.587 0 011.937 4.68c-.004 3.656-2.974 6.622-6.622 6.622zm3.632-4.956c-.198-.1-1.176-.58-1.36-.649-.182-.065-.316-.1-.447.1-.133.198-.515.649-.63.778-.114.134-.233.149-.431.05-.198-.1-.84-.309-1.6-.989-.592-.527-.99-1.18-1.108-1.378-.114-.2-.01-.306.089-.405.087-.088.198-.233.297-.348.1-.114.134-.198.199-.331.065-.135.034-.25-.015-.349-.05-.1-.447-1.08-.615-1.476-.16-.391-.324-.337-.447-.342-.114-.007-.248-.007-.382-.007a.732.732 0 00-.53.248c-.184.2-.695.68-.695 1.662 0 .981.713 1.924.814 2.058.098.134 1.4 2.142 3.398 3.006.472.205.844.327 1.134.42.477.152.908.129 1.252.08.381-.058 1.176-.482 1.344-.947.164-.467.164-.864.114-.948-.049-.084-.183-.133-.381-.233z')
    a.header__social.icon(href="https://www.instagram.com/aceitacafeoficial/" target='_blank')     
      svg(width='36', height='36', viewbox='0 0 36 36', fill='none', xmlns='http://www.w3.org/2000/svg')
        rect(width='36', height='36', rx='18', fill='#FF8110')
        path(d='M23.3333 10H12.6667C11.9594 10 11.2811 10.281 10.781 10.781C10.281 11.2811 10 11.9594 10 12.6667V23.3333C10 24.0406 10.281 24.7189 10.781 25.219C11.2811 25.719 11.9594 26 12.6667 26H23.3333C24.0406 26 24.7189 25.719 25.219 25.219C25.719 24.7189 26 24.0406 26 23.3333V12.6667C26 11.9594 25.719 11.2811 25.219 10.781C24.7189 10.281 24.0406 10 23.3333 10ZM24.6667 23.3333C24.6667 23.687 24.5262 24.0261 24.2761 24.2761C24.0261 24.5262 23.687 24.6667 23.3333 24.6667H12.6667C12.313 24.6667 11.9739 24.5262 11.7239 24.2761C11.4738 24.0261 11.3333 23.687 11.3333 23.3333V12.6667C11.3333 12.313 11.4738 11.9739 11.7239 11.7239C11.9739 11.4738 12.313 11.3333 12.6667 11.3333H23.3333C23.687 11.3333 24.0261 11.4738 24.2761 11.7239C24.5262 11.9739 24.6667 12.313 24.6667 12.6667V23.3333Z', fill='#FFF')
        path(d='M18 14C17.2089 14 16.4355 14.2346 15.7777 14.6741C15.1199 15.1136 14.6072 15.7384 14.3045 16.4693C14.0017 17.2002 13.9225 18.0044 14.0769 18.7804C14.2312 19.5563 14.6122 20.269 15.1716 20.8284C15.731 21.3878 16.4437 21.7688 17.2196 21.9231C17.9956 22.0775 18.7998 21.9983 19.5307 21.6955C20.2616 21.3928 20.8864 20.8801 21.3259 20.2223C21.7654 19.5645 22 18.7911 22 18C22 16.9391 21.5786 15.9217 20.8284 15.1716C20.0783 14.4214 19.0609 14 18 14ZM18 20.6667C17.4726 20.6667 16.957 20.5103 16.5185 20.2173C16.0799 19.9242 15.7382 19.5078 15.5363 19.0205C15.3345 18.5332 15.2817 17.997 15.3846 17.4798C15.4875 16.9625 15.7414 16.4873 16.1144 16.1144C16.4873 15.7414 16.9625 15.4875 17.4798 15.3846C17.997 15.2817 18.5332 15.3345 19.0205 15.5363C19.5078 15.7382 19.9242 16.0799 20.2173 16.5185C20.5103 16.957 20.6667 17.4726 20.6667 18C20.6667 18.7072 20.3857 19.3855 19.8856 19.8856C19.3855 20.3857 18.7072 20.6667 18 20.6667Z', fill='#FFF')
        path(d='M22.3333 14.6667C22.8856 14.6667 23.3333 14.219 23.3333 13.6667C23.3333 13.1144 22.8856 12.6667 22.3333 12.6667C21.781 12.6667 21.3333 13.1144 21.3333 13.6667C21.3333 14.219 21.781 14.6667 22.3333 14.6667Z', fill='#FFF')
    a.header__social.icon(href="mailto:mark_vpg@hotmail.com" target='_blank') 
      svg(width='36', height='36', viewbox='0 0 36 36', fill='none', xmlns='http://www.w3.org/2000/svg')
        rect(width='36', height='36', rx='18', fill='#FF8110')
        path(d='M25.9882 13.4453C25.9882 13.427 26.0008 13.4092 26 13.3911L21.1173 18.0974L25.9941 22.6534C25.997 22.6209 25.9882 22.588 25.9882 22.5548V13.4453Z', fill='#FFF')
        path(d='M20.372 18.8217L18.3787 20.7401C18.2779 20.8372 18.1476 20.8858 18.0173 20.8858C17.8896 20.8858 17.762 20.8392 17.6618 20.7459L15.674 18.8929L10.7653 23.6259C10.8847 23.6688 11.0128 23.7021 11.147 23.7021H24.8876C25.0868 23.7021 25.2737 23.6414 25.4361 23.5509L20.372 18.8217Z', fill='#FFF')
        path(d='M18.0116 19.6461L25.4632 12.4656C25.2945 12.3652 25.0981 12.2979 24.8876 12.2979H11.147C10.8729 12.2979 10.6217 12.4044 10.4261 12.5667L18.0116 19.6461Z', fill='#FFF')
        path(d='M10 13.6202V22.5547C10 22.6572 10.0236 22.7561 10.0491 22.8506L14.8969 18.1807L10 13.6202Z', fill='#FFF')
