section#hero.hero
  img.hero__logo(src="./assets/logo.svg", alt="Logo")
  div.resume
    h1.resume__title Qualidade e Excelência
    span.resume__decoration
    span.resume__text Tudo começou com uma paixão e demanda que eu buscava e não me atendia na cidade onde vivo.
    span.resume__text O café faz parte de muitos momentos importantes, ele marca encontros especiais, e devemos sempre dar o melhor a quem amamos.
    span.resume__text Eu quero oferecer o melhor a vocês, experiência e produto, tudo em um mesmo pacote, para que você possa repassar o melhor a quem deseja.
