section#hero.hero
  img.hero__logo(src="./assets/logo.svg", alt="Logo")
  .hero__resume
    h1.hero__title Qualidade e Excelência
    hr.hero__decoration
    span.hero__text Tudo começou com uma paixão e demanda que eu buscava e não me atendia na cidade onde vivo.
    span.hero__text O café faz parte de muitos momentos importantes, ele marca encontros especiais, e devemos sempre dar o melhor a quem amamos.
    span.hero__text Eu quero oferecer o melhor a vocês, experiência e produto, tudo em um mesmo pacote, para que você possa repassar o melhor a quem deseja.
