.footer {
  padding: 0 30px;
  
  @media screen and (min-width: 701px) {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    min-height: 370px;
    position: relative;
    width:  100%;
  }

  @media screen and (max-width: 700px) {
    background-color: $light-color;
    position: relative;
    display: flex;
    min-height: 370px;
    flex-direction: column;
  }

  &__title  {
    text-align: center;
    position: relative;
    display: flex;
    font-size: 34px;
    color: $dark-color;
    margin-left: auto;
    margin-right: auto;
  }

  &__description  {
    color: $dark-color;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  &__social {
    @media screen and (min-width: 701px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: -100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
  }

  @media screen and (max-width: 700px) {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    left: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding: 0 ;
    position: relative;
    top: 100px;
  }
}

  &__icon {
    align-items: center;
    background-repeat: no-repeat;
    background-size: 48px;
    display: flex;
    height: 48px;
    padding-left: 65px;
    position: relative;
    width: 48px;
  }

  &__icon--whatsapp {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='24' fill='%23FF8110'/%3E%3Cpath d='M32.4555 15.4891C31.3552 14.3786 30.0449 13.4982 28.6009 12.8992C27.157 12.3002 25.6083 11.9945 24.045 12.0001C17.4945 12.0001 12.156 17.3371 12.15 23.889C12.15 25.9875 12.699 28.029 13.7355 29.8365L12.054 36L18.36 34.347C20.1045 35.2964 22.0589 35.794 24.045 35.7945H24.051C30.603 35.7945 35.94 30.4575 35.946 23.8995C35.9475 22.3366 35.6397 20.7888 35.0404 19.3454C34.4411 17.9019 33.562 16.5913 32.454 15.4891H32.4555ZM24.045 33.7815C22.2735 33.7821 20.5346 33.3054 19.011 32.4015L18.651 32.1855L14.91 33.1665L15.909 29.517L15.675 29.1405C14.6847 27.566 14.161 25.7431 14.1645 23.883C14.1645 18.4441 18.6 14.0071 24.051 14.0071C25.3496 14.0047 26.6358 14.2595 27.8355 14.7566C29.0352 15.2537 30.1246 15.9834 31.041 16.9036C31.9605 17.8201 32.6895 18.9097 33.1859 20.1094C33.6822 21.3091 33.9361 22.5952 33.933 23.8935C33.927 29.352 29.4915 33.7815 24.045 33.7815ZM29.4675 26.3805C29.172 26.232 27.7125 25.5135 27.438 25.4115C27.165 25.314 26.9655 25.263 26.7705 25.56C26.571 25.8555 26.001 26.529 25.83 26.7225C25.659 26.922 25.482 26.9445 25.185 26.7975C24.8895 26.6475 23.931 26.3355 22.797 25.32C21.912 24.5325 21.3195 23.5575 21.1425 23.262C20.9715 22.965 21.126 22.806 21.2745 22.6575C21.405 22.5255 21.57 22.3095 21.7185 22.1385C21.8685 21.9675 21.918 21.8415 22.0155 21.6435C22.113 21.4425 22.0665 21.2715 21.993 21.123C21.918 20.9745 21.3255 19.5091 21.075 18.9181C20.835 18.3346 20.5905 18.4156 20.4075 18.4081C20.2365 18.3976 20.037 18.3976 19.8375 18.3976C19.6869 18.4013 19.5386 18.4361 19.4021 18.4999C19.2655 18.5637 19.1436 18.655 19.044 18.7681C18.771 19.0651 18.0075 19.7835 18.0075 21.249C18.0075 22.7145 19.0725 24.123 19.2225 24.3225C19.3695 24.522 21.3135 27.5205 24.297 28.8105C25.002 29.118 25.557 29.2995 25.9905 29.4375C26.703 29.6655 27.3465 29.631 27.8595 29.5575C28.4295 29.4705 29.616 28.8375 29.8665 28.143C30.1125 27.447 30.1125 26.853 30.0375 26.7285C29.964 26.6025 29.7645 26.529 29.4675 26.3805Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &__icon--instagram {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='24' fill='%23FF8110'/%3E%3Cpath d='M32 12H16C14.9391 12 13.9217 12.4214 13.1716 13.1716C12.4214 13.9217 12 14.9391 12 16V32C12 33.0609 12.4214 34.0783 13.1716 34.8284C13.9217 35.5786 14.9391 36 16 36H32C33.0609 36 34.0783 35.5786 34.8284 34.8284C35.5786 34.0783 36 33.0609 36 32V16C36 14.9391 35.5786 13.9217 34.8284 13.1716C34.0783 12.4214 33.0609 12 32 12ZM34 32C34 32.5304 33.7893 33.0391 33.4142 33.4142C33.0391 33.7893 32.5304 34 32 34H16C15.4696 34 14.9609 33.7893 14.5858 33.4142C14.2107 33.0391 14 32.5304 14 32V16C14 15.4696 14.2107 14.9609 14.5858 14.5858C14.9609 14.2107 15.4696 14 16 14H32C32.5304 14 33.0391 14.2107 33.4142 14.5858C33.7893 14.9609 34 15.4696 34 16V32Z' fill='white'/%3E%3Cpath d='M24 18C22.8133 18 21.6533 18.3519 20.6666 19.0112C19.6799 19.6705 18.9108 20.6075 18.4567 21.7039C18.0026 22.8003 17.8838 24.0067 18.1153 25.1705C18.3468 26.3344 18.9182 27.4035 19.7574 28.2426C20.5965 29.0818 21.6656 29.6532 22.8295 29.8847C23.9933 30.1162 25.1997 29.9974 26.2961 29.5433C27.3925 29.0892 28.3295 28.3201 28.9888 27.3334C29.6481 26.3467 30 25.1867 30 24C30 22.4087 29.3679 20.8826 28.2426 19.7574C27.1174 18.6321 25.5913 18 24 18ZM24 28C23.2089 28 22.4355 27.7654 21.7777 27.3259C21.1199 26.8864 20.6072 26.2616 20.3045 25.5307C20.0017 24.7998 19.9225 23.9956 20.0769 23.2196C20.2312 22.4437 20.6122 21.731 21.1716 21.1716C21.731 20.6122 22.4437 20.2312 23.2196 20.0769C23.9956 19.9225 24.7998 20.0017 25.5307 20.3045C26.2616 20.6072 26.8864 21.1199 27.3259 21.7777C27.7654 22.4355 28 23.2089 28 24C28 25.0609 27.5786 26.0783 26.8284 26.8284C26.0783 27.5786 25.0609 28 24 28Z' fill='white'/%3E%3Cpath d='M30.5 19C31.3284 19 32 18.3284 32 17.5C32 16.6716 31.3284 16 30.5 16C29.6716 16 29 16.6716 29 17.5C29 18.3284 29.6716 19 30.5 19Z' fill='white'/%3E%3C/svg%3E%0A");    width: 48px;

    @media screen and (max-width:700px) {
      margin: 15px 0;
    }

    @media screen and (min-width:701px) {
      margin: 0 170px;
    }

    @media screen and (min-width:781) {
      margin: 0 200px
    }
  }

  &__icon--mail {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='24' fill='%23FF8110'/%3E%3Cpath d='M35.9823 17.1678C35.9823 17.1404 36.0012 17.1137 35.9999 17.0866L28.6759 24.1461L35.9912 30.98C35.9955 30.9312 35.9823 30.882 35.9823 30.8321V17.1678Z' fill='white'/%3E%3Cpath d='M27.558 25.2324L24.5681 28.11C24.4168 28.2556 24.2214 28.3287 24.0259 28.3287C23.8344 28.3287 23.643 28.2588 23.4927 28.1187L20.511 25.3392L13.148 32.4388C13.327 32.5031 13.5192 32.5531 13.7205 32.5531H34.3314C34.6303 32.5531 34.9105 32.462 35.1542 32.3262L27.558 25.2324Z' fill='white'/%3E%3Cpath d='M24.0173 26.4691L35.1948 15.6983C34.9417 15.5477 34.6471 15.4468 34.3314 15.4468H13.7205C13.3093 15.4468 12.9326 15.6065 12.6392 15.85L24.0173 26.4691Z' fill='white'/%3E%3Cpath d='M12 17.4302V30.8319C12 30.9858 12.0353 31.1341 12.0737 31.2758L19.3454 24.271L12 17.4302Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
