.footer {
  display: flex;
  flex-direction: column;
  min-height: 370px;
  padding: 0 30px;
  position: relative;
  width:  100%;
  

  &__title  {
    color: $dark-color;
    display: flex;
    font-size: 34px;
    top: 45px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  &__description  {
    color: $dark-color;
    top: 15px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  &__social {
    @media screen and (min-width: 771px) {
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 735px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50px;
    }

    @media screen and (max-width: 770px) {
      background-color: $light-color;
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;
      top: 30px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__icon::before {
    align-items: center;
    background-color: $orange-color;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-right: 10px;
    padding: 10px;
    width: 24px;
  
    @media screen and (max-width: 770px) {
      margin-right: 20px;
    }
  }

  &__icon:hover{
    opacity: 0.75;
  }

  &__icon {
    align-items: center;
    color: $dark-color;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    transition: 0.5s;
    
    @media screen and (min-width:851px) {
      margin: 0 35px;
    }

    @media screen and (max-width: 850px) {
      margin: 0 15px;
    }

    @media screen and (max-width: 770px) {
      margin: 10px 0;
    }
  }

  &__icon--whatsapp::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4555 3.48906C19.3552 2.37858 18.0449 1.49819 16.6009 0.899179C15.157 0.300172 13.6083 -0.00546639 12.045 7.39956e-05C5.49453 7.39956e-05 0.156046 5.33706 0.150046 11.889C0.150046 13.9875 0.699045 16.029 1.73554 17.8365L0.0540466 24L6.36003 22.347C8.10453 23.2964 10.0589 23.794 12.045 23.7945H12.051C18.603 23.7945 23.94 18.4575 23.946 11.8995C23.9475 10.3366 23.6397 8.78883 23.0404 7.34537C22.4411 5.90191 21.562 4.59131 20.454 3.48906H20.4555ZM12.045 21.7815C10.2735 21.7821 8.53457 21.3054 7.01102 20.4015L6.65103 20.1855L2.91004 21.1665L3.90903 17.517L3.67504 17.1405C2.68475 15.566 2.16101 13.7431 2.16454 11.883C2.16454 6.44405 6.60003 2.00707 12.051 2.00707C13.3496 2.00474 14.6358 2.25948 15.8355 2.7566C17.0352 3.25373 18.1246 3.9834 19.041 4.90356C19.9605 5.82013 20.6895 6.90969 21.1859 8.1094C21.6822 9.3091 21.9361 10.5952 21.933 11.8935C21.927 17.352 17.4915 21.7815 12.045 21.7815ZM17.4675 14.3805C17.172 14.232 15.7125 13.5135 15.438 13.4115C15.165 13.314 14.9655 13.263 14.7705 13.56C14.571 13.8555 14.001 14.529 13.83 14.7225C13.659 14.922 13.482 14.9445 13.185 14.7975C12.8895 14.6475 11.931 14.3355 10.797 13.32C9.91202 12.5325 9.31952 11.5575 9.14252 11.262C8.97152 10.965 9.12602 10.806 9.27452 10.6575C9.40502 10.5255 9.57002 10.3095 9.71852 10.1385C9.86852 9.96754 9.91802 9.84154 10.0155 9.64354C10.113 9.44254 10.0665 9.27154 9.99302 9.12304C9.91802 8.97455 9.32552 7.50905 9.07502 6.91805C8.83502 6.33455 8.59052 6.41555 8.40752 6.40805C8.23652 6.39755 8.03702 6.39755 7.83752 6.39755C7.68687 6.4013 7.53861 6.43614 7.40206 6.4999C7.26552 6.56366 7.14362 6.65495 7.04402 6.76805C6.77103 7.06505 6.00753 7.78355 6.00753 9.24904C6.00753 10.7145 7.07252 12.123 7.22252 12.3225C7.36952 12.522 9.31352 15.5205 12.297 16.8105C13.002 17.118 13.557 17.2995 13.9905 17.4375C14.703 17.6655 15.3465 17.631 15.8595 17.5575C16.4295 17.4705 17.616 16.8375 17.8665 16.143C18.1125 15.447 18.1125 14.853 18.0375 14.7285C17.964 14.6025 17.7645 14.529 17.4675 14.3805Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &__icon--instagram::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0H4C2.93913 0 1.92172 0.421427 1.17157 1.17157C0.421427 1.92172 0 2.93913 0 4V20C0 21.0609 0.421427 22.0783 1.17157 22.8284C1.92172 23.5786 2.93913 24 4 24H20C21.0609 24 22.0783 23.5786 22.8284 22.8284C23.5786 22.0783 24 21.0609 24 20V4C24 2.93913 23.5786 1.92172 22.8284 1.17157C22.0783 0.421427 21.0609 0 20 0ZM22 20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H4C3.46957 22 2.96086 21.7893 2.58579 21.4142C2.21071 21.0391 2 20.5304 2 20V4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H20C20.5304 2 21.0391 2.21071 21.4142 2.58579C21.7893 2.96086 22 3.46957 22 4V20Z' fill='white'/%3E%3Cpath d='M12 6C10.8133 6 9.65327 6.35189 8.66658 7.01118C7.67988 7.67047 6.91085 8.60754 6.45672 9.7039C6.0026 10.8003 5.88378 12.0067 6.11529 13.1705C6.3468 14.3344 6.91824 15.4035 7.75736 16.2426C8.59647 17.0818 9.66557 17.6532 10.8295 17.8847C11.9933 18.1162 13.1997 17.9974 14.2961 17.5433C15.3925 17.0892 16.3295 16.3201 16.9888 15.3334C17.6481 14.3467 18 13.1867 18 12C18 10.4087 17.3679 8.88258 16.2426 7.75736C15.1174 6.63214 13.5913 6 12 6ZM12 16C11.2089 16 10.4355 15.7654 9.77772 15.3259C9.11992 14.8864 8.60723 14.2616 8.30448 13.5307C8.00173 12.7998 7.92252 11.9956 8.07686 11.2196C8.2312 10.4437 8.61216 9.73098 9.17157 9.17157C9.73098 8.61216 10.4437 8.2312 11.2196 8.07686C11.9956 7.92252 12.7998 8.00173 13.5307 8.30448C14.2616 8.60723 14.8864 9.11992 15.3259 9.77772C15.7654 10.4355 16 11.2089 16 12C16 13.0609 15.5786 14.0783 14.8284 14.8284C14.0783 15.5786 13.0609 16 12 16Z' fill='white'/%3E%3Cpath d='M18.5 7C19.3284 7 20 6.32843 20 5.5C20 4.67157 19.3284 4 18.5 4C17.6716 4 17 4.67157 17 5.5C17 6.32843 17.6716 7 18.5 7Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &__icon--mail::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9823 2.16783C23.9823 2.1404 24.0012 2.1137 23.9999 2.08658L16.6759 9.14605L23.9912 15.98C23.9955 15.9312 23.9823 15.882 23.9823 15.8321V2.16783Z' fill='white'/%3E%3Cpath d='M15.558 10.2324L12.5681 13.11C12.4168 13.2556 12.2214 13.3287 12.0259 13.3287C11.8344 13.3287 11.643 13.2588 11.4927 13.1187L8.51101 10.3392L1.14801 17.4388C1.32704 17.5031 1.51921 17.5531 1.72046 17.5531H22.3314C22.6303 17.5531 22.9105 17.462 23.1542 17.3262L15.558 10.2324Z' fill='white'/%3E%3Cpath d='M12.0173 11.4691L23.1948 0.698261C22.9417 0.547746 22.6471 0.446777 22.3314 0.446777H1.72045C1.30931 0.446777 0.93258 0.606471 0.639161 0.850027L12.0173 11.4691Z' fill='white'/%3E%3Cpath d='M0 2.43017V15.8319C0 15.9858 0.0353479 16.1341 0.0737197 16.2758L7.34538 9.27102L0 2.43017Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
