body{
<<<<<<< HEAD
  width:100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-style: normal;
=======
  width: 100%;
  height: auto;
>>>>>>> d4dc38f6f0ef8e2c2cdefb144debddc0be7c91ff
}
