.error {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $orange-color;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;

  &__illustration {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 164 179'%3E%3Cdefs/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M59.9476 83.6389s-89.8379-1.602-49.0431-47.7653C51.6994-10.2882 134.9-7.60474 157.98 21.3803c23.08 28.9866-28.677 58.0516-62.4447 79.1647-33.7648 21.115-9.7164 52.013-9.7164 52.013s-20.9549-17.413-22.8476-37.242c-3.0237-31.6771 91.2317-68.0949 46.1427-79.9047C64.0252 23.603-35.599 61.0951 59.9476 83.6389z' clip-rule='evenodd'/%3E%3Cpath fill='%235A1100' fill-rule='evenodd' d='M103.84 157.488c-1.381 2.218-4.0715 3.036-6.55 3.619-6.3425 1.496-18.424 1.432-23.8928-2.234-1.0685-.715-.8751-.82-1.3476-1.241.0422 2.206.8402 5.17 1.5482 6.999.8315 2.15 1.9072 3.929 3.1051 5.438 2.086 2.627 5.9703 5.863 11.2937 5.815 7.1361-.064 12.2094-5.756 14.3044-11.347.642-1.714 1.565-5.007 1.539-7.049zM71.474 172.91c.234-.467 1.6586-1.183-.4783-2.518-.8897-.555-1.8709-.968-2.7969-1.509-1.2051-.703-2.5585-1.997-3.2679-3.195-2.5483-4.304-.3286-9.683 3.7578-9.362 1.6964.134 2.1645.944 2.9655 1.495.109-1.211.0523-2.049.8184-2.655.5568-.44 1.6674-.907 2.5324-.969-.4885.36-2.5338 1.554-1.9349 2.417 1.2414 1.791 9.9127 2.066 11.9842 2.095 3.108.045 14.47-.217 16.4567-2.376-.721-1.213-4.1963-2.353-5.5439-2.798l-2.0846-.715c2.4466-.272 8.7675.096 9.9185 2.711.23.523.154.989.254 1.619.721 4.529-.129 8.843-1.904 12.334-1.659 3.257-4.0644 5.755-7.155 7.489-3.4118 1.914-8.11 2.332-12.1091.911-5.1795-1.839-8.8181-6.352-10.471-11.497-.955-2.973-.7457-5.171-1.1004-6.293-.7021-2.217-3.2083-2.558-4.3029-.767-1.0961 1.795-.4696 4.228.5131 5.707.7283 1.094 1.7125 1.984 2.7155 2.74.9202.692 2.2154 1.781 2.6036 2.925.4026 1.189-.3693 2.066-1.3708 2.211z' clip-rule='evenodd'/%3E%3Cpath fill='%235A1100' fill-rule='evenodd' d='M72.4276 156.991s9.9432 4.978 20.3443 3.171c10.4031-1.808 10.3521-4.249 10.3521-4.249l1.007 1.755s-.23 3.66-.499 4.738c-.268 1.077-4.4551 15.717-13.8518 15.019-9.3966-.699-16.4848-8.856-17.3526-13.194-.8679-4.339-.676-7.562 0-7.24z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
    background-color: #FFAA5F;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 275px;
    height: 275px;
    border-radius: 1000px;
  }

  &__illustration::before {
    width: 100px;
    height: 100px;
  }

  &__title {
    color: $dark-color;
    font-size: 42px;
    margin: 50px 0;
  }
}
