.products {
  align-items: center;
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
  max-width: 100%;
  min-height: 1300px;
  position: relative;
  text-align: center;

  &__title {
    display: flex;
    font-size: 34px;
    margin-bottom: 65px;
    position: relative;
  }
  
  &__gallery { 
    columns: 400px 3;
    height: auto;
    position: relative;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    margin: 0 auto;
    position: relative;
    width: 300px;
    z-index: 1;
  }

  &__container {
    align-items: center;
    background-color: $light-grey;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px;
    width: 95%;
      
    @media screen and (max-width:380px) {
      width: 300px;
    }
  }

  &__name {
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 80px;
    width: 85%;
  }
}


