doctype html 
html(lang='pt_BR')
  head
    title Aceita café?
    meta(charset='urf-8')
    link(rel="stylesheet" href="./css/styles.scss")
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap', rel='stylesheet')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap', rel='stylesheet')
  body
    include ./templates/_header.pug
    include ./templates/_hero.pug
  script(type='module', src='./index.js')
