doctype html 
html(lang='pt_BR')
  include ./templates/_head.pug
  body
    .error__illustration
    h1.error__title Sem café por aqui...
    a.button.button--stroke.button--back.modal__button(href="/") Voltar
