- var currentPath = 'products'

doctype html 
html(lang='pt')
  include ./templates/_head.pug
  body
    include ./templates/_header.pug
    include ./templates/_list.pug
    include ./templates/_footer.pug
    include ./templates/_modal.pug
    script(src='./products.js' defer)
