.button {
  align-items: center;
  background-color: $orange;
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  width: 140px;
  
  &:hover {
    opacity: .75;
  }

  &--stroke {
    background-color: $white;
    border: 2px solid $orange;
    color: $orange;
    justify-content: center;
  }

  &--stroke:hover {
    border-color: $white;
  }

  &--stroke::before {
    height: 16px;
  }

  &--back {

    @media screen and (min-width: 1025px) {
      padding: 15px 20px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 0;
      margin-right: 10px;
      overflow: hidden;
      padding: 0;
      width: 40px;
    }
  }

  &--back::before {
    content: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0359 7H3.86589L9.45589 1.41L8.03589 0L0.0358887 8L8.03589 16L9.44589 14.59L3.86589 9H16.0359V7Z' fill='%23FF8110'/%3E%3C/svg%3E%0A");

    @media screen and (min-width: 1025px) {
      margin-right: 10px;
    }
  }

  &--details::before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.36938 0H8.70271C8.82123 0 8.88049 0.0592593 8.88049 0.177778V15.8222C8.88049 15.9407 8.82123 16 8.70271 16H7.36938C7.25086 16 7.1916 15.9407 7.1916 15.8222V0.177778C7.1916 0.0592593 7.25086 0 7.36938 0Z' fill='%23FF8110'/%3E%3Cpath d='M0.569379 7.15556H15.5027C15.6212 7.15556 15.6805 7.21481 15.6805 7.33333V8.66667C15.6805 8.78518 15.6212 8.84444 15.5027 8.84444H0.569379C0.450861 8.84444 0.391602 8.78518 0.391602 8.66667V7.33333C0.391602 7.21481 0.450861 7.15556 0.569379 7.15556Z' fill='%23FF8110'/%3E%3C/svg%3E%0A");

    @media screen and (min-width: 381px) {
      margin-right: 10px;
    }
  }
  
  &--whatsapp::before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4555 3.48906C19.3552 2.37858 18.0449 1.49819 16.6009 0.899179C15.157 0.300172 13.6083 -0.00546639 12.045 7.39956e-05C5.49453 7.39956e-05 0.156046 5.33706 0.150046 11.889C0.150046 13.9875 0.699045 16.029 1.73554 17.8365L0.0540466 24L6.36003 22.347C8.10453 23.2964 10.0589 23.794 12.045 23.7945H12.051C18.603 23.7945 23.94 18.4575 23.946 11.8995C23.9475 10.3366 23.6397 8.78883 23.0404 7.34537C22.4411 5.90191 21.562 4.59131 20.454 3.48906H20.4555ZM12.045 21.7815C10.2735 21.7821 8.53457 21.3054 7.01102 20.4015L6.65103 20.1855L2.91004 21.1665L3.90903 17.517L3.67504 17.1405C2.68475 15.566 2.16101 13.7431 2.16454 11.883C2.16454 6.44405 6.60003 2.00707 12.051 2.00707C13.3496 2.00474 14.6358 2.25948 15.8355 2.7566C17.0352 3.25373 18.1246 3.9834 19.041 4.90356C19.9605 5.82013 20.6895 6.90969 21.1859 8.1094C21.6822 9.3091 21.9361 10.5952 21.933 11.8935C21.927 17.352 17.4915 21.7815 12.045 21.7815ZM17.4675 14.3805C17.172 14.232 15.7125 13.5135 15.438 13.4115C15.165 13.314 14.9655 13.263 14.7705 13.56C14.571 13.8555 14.001 14.529 13.83 14.7225C13.659 14.922 13.482 14.9445 13.185 14.7975C12.8895 14.6475 11.931 14.3355 10.797 13.32C9.91202 12.5325 9.31952 11.5575 9.14252 11.262C8.97152 10.965 9.12602 10.806 9.27452 10.6575C9.40502 10.5255 9.57002 10.3095 9.71852 10.1385C9.86852 9.96754 9.91802 9.84154 10.0155 9.64354C10.113 9.44254 10.0665 9.27154 9.99302 9.12304C9.91802 8.97455 9.32552 7.50905 9.07502 6.91805C8.83502 6.33455 8.59052 6.41555 8.40752 6.40805C8.23652 6.39755 8.03702 6.39755 7.83752 6.39755C7.68687 6.4013 7.53861 6.43614 7.40206 6.4999C7.26552 6.56366 7.14362 6.65495 7.04402 6.76805C6.77103 7.06505 6.00753 7.78355 6.00753 9.24904C6.00753 10.7145 7.07252 12.123 7.22252 12.3225C7.36952 12.522 9.31352 15.5205 12.297 16.8105C13.002 17.118 13.557 17.2995 13.9905 17.4375C14.703 17.6655 15.3465 17.631 15.8595 17.5575C16.4295 17.4705 17.616 16.8375 17.8665 16.143C18.1125 15.447 18.1125 14.853 18.0375 14.7285C17.964 14.6025 17.7645 14.529 17.4675 14.3805Z' fill='white'/%3E%3C/svg%3E%0A");
    margin: 4px 10px 0 0;
  }
  
  &--details {
    margin-right: 20px;
    
    @media screen and (min-width: 381px) {
      padding: 10px 20px;
    }

    @media screen and (max-width: 380px) {
      font-size: 0;
      height: 40px;
      overflow: hidden;
      width: 40px;
    }
  }

  &--forward {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    width: 160px;
  }

  &--forward::after {
    display: flex;
    margin-left: 10px;
    content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.5h12.17L6.58 1.91 8 .5l8 8-8 8-1.41-1.41 5.58-5.59H0v-2z' fill='%23fff'/%3E%3C/svg%3E");
  }
} 
