.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 770px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &__item {
    
    @media screen and (min-width: 1321px) {
      max-width: 32%;
    }

    @media screen and (max-width: 1320px) {
      max-width: calc(50% - 10px);
    }


    @media screen and (max-width: 800px) {
      min-width: 100%;
      margin: 0 auto;
    }

    @media screen and (max-width: 385px) {
      min-width: 100%;
    }
  }
}
